<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lin.bulter.repository.mysql.dao.ClassJsonMapper">

    <resultMap id="BaseResultMap" type="com.lin.bulter.repository.mysql.entity.ClassJson">
        <!--
          WARNING - @generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="id" property="id"/>
        <result column="class_name" property="className"/>
        <result column="method_name" property="methodName"/>
        <result column="arg_class_list" property="argClassList"/>
        <result column="json_val" property="jsonVal"/>
        
    </resultMap>

    <sql id="Base_Column_List">
        id, class_name, method_name, arg_class_list, json_val 
    </sql>

    <!-- 新增 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.lin.bulter.repository.mysql.entity.ClassJson">
        <!--
          WARNING - @generated
        -->
        insert into class_json (
          id, class_name, method_name, arg_class_list, json_val  )
        values (
          #{id}, #{className}, #{methodName}, #{argClassList}, #{jsonVal}  )
    </insert>

    <!-- 按条件修改 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.lin.bulter.repository.mysql.entity.ClassJson">
        <!--
          WARNING - @generated
        -->
        update class_json
        <set>
          <if test="className != null">
            class_name = #{className},
          </if>
          <if test="methodName != null">
            method_name = #{methodName},
          </if>
          <if test="argClassList != null">
            arg_class_list = #{argClassList},
          </if>
          <if test="jsonVal != null">
            json_val = #{jsonVal}
          </if>
          
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!-- 按主键删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--
          WARNING - @generated
        -->
        delete from class_json
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <!-- 按主键查询 -->
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--
          WARNING - @generated
        -->
        select 
          <include refid="Base_Column_List" />
        from class_json
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultMap="BaseResultMap">
        <!--
          WARNING - @generated
        -->
        select 
          <include refid="Base_Column_List" />
        from class_json
    </select>
</mapper>
